In [39]:
import pandas as pd
import scipy
from scipy import stats
import statsmodels.api as sm
import numpy as np
from statsmodels.formula.api import ols
from statsmodels.stats.proportion import proportions_ztest

In [6]:
cutlet=pd.read_csv("Cutlets.csv")

In [7]:
cutlet

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [10]:
count=pd.crosstab(cutlet['Unit A'],cutlet['Unit B'])

In [11]:
count

Unit B,6.0380,6.3346,6.5217,6.5780,6.6606,6.6672,6.6965,6.7300,6.7478,6.7594,...,7.1688,7.2212,7.2402,7.3070,7.3875,7.4059,7.4220,7.4314,7.5093,7.5459
Unit A,,,,,,,,,,,,,,,,,,,,,
6.4376,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6.5341,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.5797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.5970,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.6801,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.6840,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6.7794,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.8090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.8236,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.8394,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.8568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.8755,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6.9157,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6.9246,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.9256,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.9405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6.9431,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.9438,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.9952,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7.0621,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.0852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7.1560,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7.1561,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.2163,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.2705,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7.2783,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.2828,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7.2854,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
7.3012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.3495,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7.3871,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.3930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.3943,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.4488,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.5169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [14]:
cutlet.columns="UnitA","UnitB"

In [15]:
print(stats.shapiro(cutlet.UnitA))

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)

In [16]:
print(stats.shapiro(cutlet.UnitB))

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

In [17]:
scipy.stats.levene(cutlet.UnitA,cutlet.UnitB)

LeveneResult(statistic=0.665089763863238, pvalue=0.4176162212502553)

In [18]:
sm.stats.ttest_ind(cutlet.UnitA,cutlet.UnitB)

(0.7228688704677944, 0.47223947245995745, 68.0)

In [19]:
sm.stats.ttest_ind(cutlet.UnitA,cutlet.UnitB,alternative='smaller')

(0.7228688704677944, 0.7638802637700213, 68.0)

In [21]:
lab=pd.read_csv("LabTAT.csv")

In [22]:
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [24]:
lab.columns="lab1","lab2","lab3","lab4"

In [25]:
print(stats.shapiro(lab.lab1))

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)

In [26]:
print(stats.shapiro(lab.lab2))

ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)

In [27]:
print(stats.shapiro(lab.lab3))

ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)

In [28]:
print(stats.shapiro(lab.lab4))

ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

In [30]:
scipy.stats.levene(lab.lab1,lab.lab2,lab.lab3,lab.lab4)

LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

In [ ]:
#calculate grand me

In [41]:
mod=ols('lab1~lab2+lab3+lab4',data=lab).fit()

In [44]:
aov_table=sm.stats.anova_lm(mod,type=1)

In [45]:
print(aov_table)

             df        sum_sq     mean_sq         F    PR(>F)
lab2        1.0    332.030416  332.030416  1.940311  0.166299
lab3        1.0    203.853111  203.853111  1.191271  0.277335
lab4        1.0    265.614707  265.614707  1.552192  0.215323
Residual  116.0  19850.186366  171.122296       NaN       NaN

In [46]:
buy=pd.read_csv("BuyerRatio.csv")

In [47]:
buy

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [1]:
Male=[50,142,131,70]

In [2]:
Female=[435,1523,1356,750]

In [3]:
Sales=[Male,Female]

In [9]:
chisqu_results=scipy.stats.chi2_contingency(Sales)

In [10]:
chisquare=[['','Test Statistic','pvalue'],['sample data'],chisqu_results[0],chisqu_results[1]]

In [11]:
print(chisquare)

[['', 'Test Statistic', 'pvalue'], ['sample data'], 1.595945538661058, 0.6603094907091882]

In [12]:
cust=pd.read_csv("cust.csv")

In [13]:
cust

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [23]:
cust['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [25]:
cust['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [26]:
cust['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [27]:
cust['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [28]:
error=[271,267,269,280]

In [29]:
defect=[29,33,31,20]

In [30]:
check=[error,defect]

In [31]:
chisqu_results=scipy.stats.chi2_contingency(check)

In [32]:
chisquare=[['','Test Statistic','pvalue'],['sample data'],chisqu_results[0],chisqu_results[1]]

In [33]:
print(chisquare)

[['', 'Test Statistic', 'pvalue'], ['sample data'], 3.858960685820355, 0.2771020991233135]

In [35]:
shop=pd.read_csv("Faltoons.csv")

In [36]:
shop

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [45]:
count=shop['Weekdays'].value_counts()

In [48]:
nobs=shop['Weekend'].value_counts()

In [49]:
nobs

Female    233
Male      167
Name: Weekend, dtype: int64

In [46]:
count

Female    287
Male      113
Name: Weekdays, dtype: int64

In [56]:
stat, pval = proportions_ztest([287,113],[233,167],alternative='larger')

In [57]:
print(pval)

0.0

In [58]:
print(stat)

inf